body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
}

.main-card{
    /* width: 10px;
    height: 20vh; */
    justify-content: center;
    margin-top:  10vh;
    
}